<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <div class="navbar-brand">Ruby Tapas</a>
  </div>
  <ul class="nav navbar-nav">
    <li <%= all_eps? ? 'class="active"' : '' %>><a href="/all">All</a></li>
    <li <%= all_eps? ? '' : 'class="active"' %>><a href="/unwatched">Unwatched</a></li>
  </ul>
</nav>

<div class="container">
  <table id="episode-list" class="table table-striped">
    <thead>
      <th class="ep-number">Number</th>
      <th class="ep-title">Title</th>
      <th class="ep-description">Description</th>
      <th class="ep-actions">Actions</th>
    </thead>
    <tbody></tbody>
  </table>
</div>


<script>
function monitorProgress(form, url, percent) {
  var num = parseInt(percent * 100)
  $(form).find('button').first().text("Downloading: " + num + "%")
  if (num < 100) setTimeout(function(){
    $.get(url, function(newPercent){
      monitorProgress(form, url, parseFloat(newPercent))
    })
  }, 2000)
}

$(document).on('submit', 'form[action^="/download"]', function(){
  var form = $(this)
  form.find('button').attr('disabled', true)
  $.post(form.attr('action'), function(progressUrl){
    monitorProgress(form, progressUrl, 0)
  })
  return false
})



$(document).ready(function(){
  $('#episode-list').dataTable(
    {
      "ajax": "/list?<%= all_eps? ? 'all=1' : '' %>",
      "order": [0, "desc"],
      "columnDefs": [
      {
         "targets": "ep-number",
         "type": "num",
         "data": "number"
       },
       {
          "targets": "ep-title",
          "data": "title"
       },
       {
          "targets": "ep-description",
          "data": "description",
          "width": "600px"
       },
       {
          "targets": "ep-actions",
          "data": "actions",
          "searchable": false,
          "orderable": false
       }]}
    );
});
</script>
